body {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.55),
      rgba(255, 255, 255, 0.55)
    ),
    url("../images/certificate_portal_bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#admin {
  overflow: hidden !important;
}

.admin-dashboard {
  padding: 2%;
}

.admin-title {
  font-weight: bolder;
  color: white;
  padding-bottom: 2rem;
}

.upload-cert-template {
  color: white;
}

.admin-dashboard .card {
  border: none !important;
  padding: 20px;
  background-color: transparent !important;
}

.fileInput {
  color: white;
  border: 0.5px solid white;
  border-radius: 4px;
}

.card-body {
  flex: none !important;
}

.card-img-top {
  width: 40% !important;
  justify-content: center !important;
}

.admin-dashboard .btn {
  margin-top: 1rem;
}
