@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url('../images/certificate_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#home {
  height: 100vh;
  overflow-x: hidden;
}

.title {
  color: black;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  overflow: hidden;
}

.sub-title {
  color: black;
  font-size: 20px;
}

.decorated-text {
  color: rgb(12, 108, 242) !important;
  font-weight: bolder;
}

.log {
  margin: 2px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  /* background-color: #00bcd4 !important; */
  color: white !important;
  border-color: transparent !important;
  /* box-shadow: 0px 0px 10px rgba(0, 174, 255, 0.5); */
  font-size: 20px !important;
  text-align: center !important;
}

.btn {
  transition: all 0.2s ease-in-out !important;
  background-color: rgb(12, 108, 242) !important;
}

/* .btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 0.5px #00bcd4;
} */

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.navbar {
  padding: 2% !important;
}

.navbar-dark .navbar-brand {
  color: black !important;
  font-weight: bolder !important;
}

.navbar-brand {
  font-weight: bolder;
  color: black;
}

.sign {
  margin: 5px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  background-color: rgba(170, 170, 170, 0.6) !important;
  color: white !important;
  border-color: transparent !important;
  font-weight: bold !important;
  /* box-shadow: 0px 0px 10px #00bcd4; */
}

.reg {
  margin: 5px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  background-color: rgb(12, 108, 242) !important;
  color: white !important;
  border-color: transparent !important;
  font-weight: bold !important;
  /* box-shadow: 0px 0px 10px #00bcd4; */
}

@media only screen and (min-width: 1300px) {
  .title {
    font-size: 40px;
    padding-top: 10rem;
  }
  .sub-title {
    font-size: 20px;
  }
}

@media only screen and (min-width: 1500px) {
  .title {
    font-size: 60px;
    padding-top: 10%;
  }
  .sub-title {
    font-size: 30px;
  }
  .btn {
    font-size: 15px !important;
  }
  .navbar-brand {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 900px) {
  .title {
    /* font-size: 60px; */
    padding-top: 35%;
  }
}

@media only screen and (max-width: 400px) {
  .title {
    padding-top: 50%;
  }
}