* {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#login {
    overflow-x: hidden;
    color: white;
    height: 100vh;
    background-color: rgb(18, 29, 51);
}

.text-muted {
    color: white !important;
}

/* .login-form {
    margin-top: 12rem;
} */

.header-title {
    padding-top: 2rem;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}

.form-control:focus {
    outline: 0;
    box-shadow: transparent !important;
}

.custom-control-label {
    margin-bottom: 10px !important;
}

.custom-control-input {
    opacity: 1 !important;
}

.btn {
    border-bottom: 4px;
    border-color: transparent !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    /* box-shadow: 0px 0px 5px #00bcd4; */
}

.no-account {
    color: white;
}

.no-account:hover {
    color: white;
}

.already-account {
    color: white;
}

.already-account:hover {
    color: white;
}

.form-button {
    margin: 10px;
}

.error {
    color: red;
    font-weight: bolder;
}

@media only screen and (min-width: 1000) {
    .header-title {
        padding-top: 15rem;
        font-size: 40px;
    }
}

@media only screen and (min-width: 1500) {
    .header-title {
        font-size: 70px !important;
    }
}