body {
  background-color: white !important;
}

#student_dashboard {
  height: 100vh !important;
  background-color: white !important;
}

.dashboard-header {
  margin-right: 20px !important;
  font-size: 20px !important;
  align-items: center;
}

.dashboard-certificate-text {
  margin-left: 15px;
  margin-top: 20px;
  font-size: 25px;
}

.certificate-holder {
  margin: 1.5%;
}

.cert-holder {
  cursor: pointer !important;
}

.navbar-brand {
  color: black !important;
}

#dropdown-basic {
  overflow: hidden !important;
  background-color: transparent !important;
}

.dropdown-toggle {
  color: black !important;
}

.dropdown-menu {
  width: 50px;
  background-color: transparent !important;
  overflow-x: hidden !important;
}

.dropdown-item:hover {
  background-color: transparent !important;
}